.footermedios{
    .footer-h2-pago{
        font-family: fantasy;
        color: red;
    }
    @mixin footer-h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: green;
    }
    .volver-arriba-pago{
        display: flex;
        text-decoration: none;
        transition: all 0.3s;
        & :hover{
            overflow: hidden;
            font-size: 30px;
        }
    } 
    
}