.seccion-medios-pago{
    .imagen-logos{
        display: flex;
        justify-content: center;
    }
    .article-medios-pago{
        .list-group{
            .list-group-item{
                display: flex;
                justify-content: center;
                color: brown;
                font-family: fantasy;
                transition: all 0.3s;
                & :hover{
                    overflow: hidden;
                    font-size: 30px;
                }
            }
            
                
            }
        }
    }
    .h1-mediosdepagoo{
        border: 3px solid black; 
        display: flex;
        justify-content: center;
        transition: all 0.3s;
        & :hover{
            overflow: hidden;
            font-size: 30px;
        }
    }