$section-navbar:(
    font-size: 25px,
    background-color:burlywood,
);

$footer:(
    font-size: 30px,
    font-family: fantasy,
);
$propiedades:(
    text:center,
    color: rgb(247, 247, 247),
    colortitle: rgb(198, 151, 65),
    overflow: hidden,
);
