// section
.titlebuzos{
    @include titles
}
.titlebuzos:hover{
    @include hoovertitle
}
.grid-container-2{
    @include display (grid);
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: map-get($propiedades,text);
    color: map-get($map: $propiedades, $key: color);
    font-size: 30px;
}
// fin de section

// footer
.footer-doble{
   @include footeranimation
}
.footer-doble:hover{
    @include hoover
}
// fin footer