.footermedios{
    .footer-h2-pago{
        font-family: fantasy;
        color: red;
    }
    .volver-arriba-pago{
        display: flex;
        @extend %botonarriba;
        & :hover{
            overflow: hidden;
            font-size: 30px;
        }
    } 
    
}

%botonarriba{
    text-decoration: none,
    transition all 0.3s,
}