@media screen and (max-width: 800px),(min-width: 200px) {
    .nombredobleshoes{
     text-align: center;
    }
 }
 @media screen and (max-width: 899px), (min-width: 200px) {
     .links-secciones-productos{
         display: flex;
         flex-direction: column;
     }
 }
 .mediosdecontactonav{
     height: 160px;
     border: solid 5px black;
     font-family: 'Courier New', Courier, monospace;
     font-size: 27px;
     background-color: rgb(220, 160, 160);
 }
 .nombredobleshoes{
     color: rgb(0, 0, 0);
     font-family: fantasy;
     padding-top: 7%;
     font-size: 30px;
     position: absolute;
     transition: all 0.5s;
     display: flex;
     position: relative;
     justify-content: center;
 }
 .nombredobleshoes:hover{
     color:green; font-size:30px;
 }
 .nav-bar{
     background-color: lightblue;
 }
 .linkheader--{
     transition: all 1.5s;
 }
 
 .linkheader--1:hover{
     background-color: aquamarine;
     color:rgb(7, 37, 232); font-size:40px;
 }
 .linkheader--2:hover{
     background-color: aquamarine;
     color:rgb(7, 37, 232); font-size:40px;
 }
 .linkheader--3:hover{
     background-color: aquamarine;
     color:rgb(7, 37, 232); font-size:40px;
 }
 .linkheader--4:hover{
     background-color: aquamarine;
     color:rgb(7, 37, 232); font-size:40px;
 }
 .mediosdepagoheader:hover{
     background-color: aquamarine;
 }
 .mediosdecontacto-01:hover{
     background-color: aquamarine;
 }
 .maps{
     text-align: center;
     padding-bottom: 10%;
     position: absolute;
     left: 600px;
     top: 500px;
 }
 .footerpago{
     position: absolute;
     top:3000px ;
     left: 30px;
     font-size: 30px;
     color: rgb(0, 0, 0);
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 .clickmedios{
     font-size: 25px;
     color: rgb(0, 0, 0);
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     position: absolute;
     top: 3070px;
     left: 30px;
     text-decoration: none;
 }
 
 .domicilio{
     color: rgb(0, 0, 0);
     font-size: 20px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     position: absolute;
     top: 3170px;
 
 }
 .footercontacto{
     color: black;
     font-size: 40px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     position: relative;
     left: 1600px;
     bottom: 200px;
 }
 .linkcomunicacion{
     position: relative;
     text-align: center;
     font-size: 30px;
 
 }
 .article{
     justify-content: center;
 }
 .links-index{
     display: flex;
     justify-content: left;
     text-decoration: none;
     color: black;
     font-family: fantasy;
 }
 .botonarriba{
     position: absolute;
     top: 3500px;
 }
 .h2productos{
     position: relative;
     text-align: center;
     font-size: 30px;
     top: 800px;
     color: brown;
 }
 .footerindex{
     bottom: 2500px;
     position: relative;
 }
 .linksheader{
     text-align: center;
 }
 
 .logoheaderdoble{
     color: rgba(189, 179, 179, 0.496);
     position: relative;
     top: 100px;
 }
 
 .idmedios{
     position: absolute;
     top: 3500px;
 } 