// sections
.h2nike{
    @include titles
}
.h2nike:hover{
    @include hoovertitle
}
.zapatillasnike{
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chocolate;
}
.zapatillasnike:hover{
    filter: saturate(180%);
}
//fin de section

// footer
.nikefooter{
    @include footeranimation
}
.nikefooter:hover{
    @include hoover
}
// fin de footer